@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

body {
  background-image: url(https://res.cloudinary.com/dwx0y39ww/image/upload/v1764321231/LogInBg_czlflh.png);
  background-size: cover;
  background-repeat: no-repeat;
}